NODE_ENV=development
NEXT_PUBLIC_BASE_URL=http://localhost:3000

MONGODB_URI="mongodb+srv://signallist_db_user:tivttjcvo1kysyzO@project-signal.v2hi7zg.mongodb.net/Signallist?retryWrites=true&w=majority&appName=project-signal"
